#contact-header{
	background-image: linear-gradient( rgba(48,231,231,0.9) , rgba(0,0,0,0.8) ), url('C:/users/user/downloads/mobile-phone-1419275_1920.jpg');
    height: 400px!important;
    width: 100%;
    background-position: relative;
    background-size: cover;
}
#contact-banner-content{
   width: 85%;
position: absolute;
/*border: 1px solid red;*/
color: white;
top: 225px;
/*left: 60%;
transform: translate(-66%, -50%);
*/}
#contact-banner-content h1{
	font-weight: 500;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Flamenco', cursive;
    text-transform: uppercase;
    margin-bottom: 20px;}

@media only screen and (max-width: 767px){
#contact-header {
    max-height: 220px;
}
#contact-banner-content{
	top: 150px;
}
#contact-banner-content h1{
	    font-size: var(--font-size-33px);

}
}

.contactus-home-heading{

	margin-top: 0!important;
}

.moreways-container {
	padding: 60px 0 100px;
}
.moreways-container h2{
	font-family: 'ABeeZee', sans-serif;
	font-size: 48px;
    line-height: 54px;
	max-width: 500px;
    margin-bottom: 40px;
}
.holder{
	margin: 0 -20px;
	display: flex;
}
.block{
	    padding: 0 20px;
	    box-sizing: border-box;
}
.email-block{
	margin-left: 50px;
}
.block h6{
	font-family: 'ABeeZee', sans-serif;
	font-weight: 500;
    color: rgba(9,9,9,.6);
    margin-bottom: 10px;
}
.block p{
	font-family: 'ABeeZee', sans-serif;
	    font-size: 24px;
    line-height: 32px;
    border-bottom: 2px solid black;
    border-width: 100%;
}

.block span a i{
	background-color: black;
    padding: 5px 8px 5px 8px;
    font-size: 18px;
    border-radius: 4px;
    width: auto;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}
.block span a i:hover{
	background-color: #30e7e7;
 color: #fff;
}
.block span{
    border-bottom:1px solid black;

}
footer{
	margin-top:0px!important;
}
@media only screen and (max-width:1265px){
    .block p{
    	font-size: 16px!important;
    	line-height:20px!important;
    }
}
@media only screen and (max-width: 700px){
	.holder{
	margin: 0 -20px;
	display: inline-block;
}
.email-block{
	margin-left: 0px!important;
}

}


