*{
	padding: 0;
	margin: 0;
}
body{
    overflow-x: hidden;
    font-family: 'ABeeZee', sans-serif;
}

header{
    background-image: linear-gradient( rgba(48,231,231,0.9) , rgba(0,0,0,0.5) ), url('images/banner.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}
a{
  text-decoration: none!important;
}
.py-10{
  padding-bottom: 5rem!important;
}
.mb-10{
  margin-bottom:4rem!important;
  }
.active-to-page a span{
  color: #30e7e7;
    border-bottom: 2px solid #30e7e7;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}




/*top-bar-links*/
#top-contact-bar{
    border-top: 1px solid #e8e8e8;
	height: 35px;
	width: 100%;
	background-color: #30e7e7;
}
#top-bar-links{
    float: left;
    line-height: 1;
    /*font-family: 'ABeeZee', sans-serif;*/
    font-family: 'Flamenco', cursive;

    font-size: 20px;
    font-weight: 600;
    padding-top: 9px;
}


#top-bar-links ul{
    list-style-type: none;
}

#top-bar-links ul li{
     float: left;
     white-space: nowrap;
}  
#top-bar-links ul li a{
     text-decoration: none;
     color: #fff;
     padding-left: 17px;
     list-style-type: none;
}

#top-bar-contactlist{
	float: right;
	line-height: 1;
    font-family: 'ABeeZee', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 9px;

}

#top-bar-contactlist ul{
   list-style-type: none;
}

#top-bar-contactlist ul li{
	float: left;
}

#top-bar-contactlist ul li{
     text-decoration: none;
     color: #fff;
     padding-right: 17px;
     list-style-type: none;	
}



#top-mobile-contact-bar{
    height: 25px;
	width: 100%;
	background-color: #30e7e7;
    font-family: 'ABeeZee', sans-serif;


}
#top-mobile-bar-contactlist{
    
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;

}
#top-mobile-bar-contactlist ul{
	list-style-type: none;
}
#top-mobile-bar-contactlist ul li{
	float: left;
	padding-left: 7px;
   
}

/*Navbar started*/
#boss-nav-container{
    z-index: 2;
}

#nav-bar-container{
    
    height: 80px;
    width: 100%;
    background-color: #fff;
    /*border-bottom: 1px solid #e8e8e8;*/
    border-bottom:1px solid #30e7e7;
    z-index: 2;
    /*position: sticky;
    top: 0;*/

}

/*navlogo*/

.nav-logo{
    float: left;
    margin-left: 3%;
}
.nav-logo-image{

    margin: -13px 0 0 0;
    height: 117px;
    width: 164px;
}

/*navlink*/


#nav-links{
    margin: 0 0 0 0;
    color: #30e7e7;
    margin-right: 3%;
    margin-top: 3.8%;
    /*font-family: 'ABeeZee', sans-serif;*/
    font-family: 'Flamenco', cursive;


}
#nav-links ul{
    display: flex;
    list-style-type: none;

}
#nav-links ul li{
    padding-right: 32px;

}
#nav-links ul li a{
   text-decoration: none;
   color: #000000;
   font-weight: bold;
   font-size: 20px;

}
#nav-links ul li a:hover{
    color: #30e7e7;
    border-bottom: 2px solid #30e7e7;
}

#nav-container{
 background-color: white;
 border-bottom: 1px solid #30e7e7;
 overflow: hidden;
 z-index: 1;
}

#website-top-logo img{
                  
margin: 0 0 0 0;
float: left;
height: 117px;
width: 164px;
}
#navbarSupportedContent{
    margin-top: 8px;

}
#navbarSupportedContent ul li a{
background-color: #fff;
color: black;


}
#navbarSupportedContent ul li a:hover{


color: #30e7e7;
}


/*/////end of navbar//////*/

/*main-----content*/

#main-banner-content{


width: 85%;
position: absolute;
/*border: 1px solid red;*/
color: white;
top: 55%;
left: 60%;
transform: translate(-66%, -50%);


}
#main-banner-content h1{
    font-weight: 500;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-family: 'Flamenco', cursive;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main-banner-content a{
    display: inline-block;
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border-radius: 5px;
}
#banner-button{
    color: #30e7e7;
    border:1px solid #30e7e7;
    margin-right: 15px;
}
#banner-button:hover{
    background-color: rgba(255,255,255,0.9);
}
#banner-two-button{
    color: #fff;
    border:1px solid #fff;
}
#banner-two-button:hover{
    color: #fff;
    background-color: #30e7e7;
}

/*/////media queries////*/

/*//for//main//banner//*/

@media (max-width: 800px){
    #main-banner-content{top: 55%;}

    #main-banner-content h1{font-size: 27px;}
}

@media (max-width: 885px){
  #main-banner-content{top: 55%;}

  #main-banner-content h1{font-size: 30px;}
}


@media (max-width: 600px){
   #main-banner-content{top: 66%;}
 }


@media (max-width: 450px){
  #main-banner-content{top: 55%;}
   
  #main-banner-content h1{font-size: 18px;}

  #banner-button{font-size: 12px;}

   #banner-two-button{font-size: 12px;}
}

@media (max-width: 330px){
    #banner-two-button{margin-top:10px;}
}

/*main//banner//ended//*/

/*mobile navbar*/
@media (min-width: 800px){
    #nav-container{display: none;}
}


@media (max-width: 800px){
    #nav-bar-container{display: none;}
}

@media (min-width: 800px){
#nav-container{display: none;}
}
@media (max-width: 768px) {
  #nav-menu-container {display: none;}
}

@media (max-width:991px){
#website-top-logo{margin-bottom: -35px;}

#website-top-logo img{
margin-top: -27px;
margin-bottom: -10px;
margin-left: 5px;
}

}
@media (max-width: 275px){
  #website-top-logo img{
    height: 80px;
    width: 97px;
    margin-bottom: 6px;
  }
  #nav-container{
    height: 50px;
    width: 100%;
  }
}

/*///navbar///ended//////*/

/*//////mobile/////// top////////// contact//////// bar///////////*/

@media (max-width: 768px){
  #top-contact-bar{display: none;}
}

@media (min-width: 769px){
  #top-mobile-contact-bar{display: none;}
}

@media (max-width: 768px){
  #top-bar-links{display: none;}
}



@media (max-width: 275px){
      
      #top-mobile-contact-bar{
            
            height: 45px;
            width: 100%;
            text-align: center;
            z-index: 1;
      }
      #top-mobile-bar-contactlist{
        font-size: 12px;
      }
      #mobile-bar-number{
        margin-left: 25%;
      }
      #mobile-bar-email{
        margin-left: 15%;
      }
}
@media (max-width: 410px){
  #top-mobile-contact-bar{
            
            height: 45px;
            width: 100%;
            text-align: center;
            z-index: 1;
      }

  #top-mobile-bar-contactlist{
    font-size: 15px;
  }
  #mobile-bar-number{
        margin-left: 25%;
      }
      #mobile-bar-email{
        margin-left: 15%;
      }


}


/*/////////// Header------Finished////////////////*/


/*//////////// FOOTER STARTED //////////////////*/


footer{
  height: auto;
  width: 100%;
  background-color: black;
  padding-left: 3%;
  padding-right: 3%;
  font-family: 'ABeeZee', sans-serif;
  color: #fff;
  margin: 70px 0 0 0;

  
}
.footer-logos{
  height: 100px; 
  width: 120px;
}
.logo-bottom-line{
  width: 100%;
    height: 1px;
    background-color: #30e7e7;
    margin: -5px 0 0 0;
}

.footer-logo-container p{

    font-family: 'ABeeZee', sans-serif;
    font-weight: 600;

}
.footer-logo-container p a:hover{
  color: #30e7e7;
  border-bottom: 1px solid red;
}
.footer-service-list ul {
      font-family: 'ABeeZe', sans-serif;
      font-weight: 600;
    list-style: none;
    margin-top: -17px;

}
.footer-service-list ul li a{
  text-decoration: none;
  color: #328fa8;

}
.footer-service-list ul li a:hover{
  color: #30e7e7;
  border-bottom: 1px solid #fff;
}

.service-para{
  margin-top: 24px;
}
.contact-footer{
  margin-top: 1px;
}
.contact-footer li{
  padding-top: 5px;
}
.social-account-list{
  margin-top: 5px;
}
.social-account-list .fa{
    background-color: #fff;
    padding: 5px 8px 5px 8px;
    font-size: 15px;
    border-radius: 4px;
    width: auto;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;

}
.social-account-list .fa:hover{
 background-color: #30e7e7;
 color: #fff;
}

@media (max-width: 576px){
.footer-logo-container img{
display: block;
margin-left: auto;
margin-right: auto;
height: 100px; 
  width: 120px;
/*width: 50%;*/

}
}
.margin-parah-footer
{
  margin-top: 20px;
}

/*fotter//////finished//////////*/


/*work////////section/////////*/
#work-home-section{
  /*padding-right: 3%; */
  /*padding-left: 3%;*/
}

.work-section-brand{
  font-family: 'ABeeZee', sans-serif;
  margin: 30px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;

}
.card-body-work{

font-family: 'ABeeZee', sans-serif;
}
.card-work-hover img{
  width: 100%;
  border-bottom:1px solid #e1e1e1;
}
.card-work-title{
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: #272b2b;
    text-align: center;
    margin-bottom: -1.5rem;
    line-height: 0.2;
}

.card-work-hover-two{
  margin-top: 30px;
}
.card-work-hover{
  transition: all 0.3s ease;
}
.card-work-hover:hover{
  box-shadow: 0 4px 8px 0 rgba(48, 231, 231, 0.6), 0 6px 20px 0 rgba(48, 231, 231, 0.19);
  border-color: #30e7e7;
}


#workcards-slide-padding{
   
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.workrklink-main-container{
  height: auto;
  width: 100%;
  background-image: linear-gradient( rgba(48,231,231,0.7) , rgba(0,0,0,0.7) );
  color: #fff;
  padding-left:5%;
  padding-right: 5%;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  
}
@media (max-width: 768px){

  .worklink-button{
    padding: 10px 30px;
  }
}
.worklink-description{
  margin-top: 10px;
  background-color: transparent;
  font-family: 'ABeeZee', sans-serif;
    top: calc(50% - 1em);
  
 }


  .worklink-button-container{
    background-color: transparent;
   position: relative;
    top: calc(50% - 1em);
    font-family: 'ABeeZee', sans-serif;

  

  }
  .worklink-button{
    
    padding: 10px 30px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;

  }
  #worklink-button-padding{
    margin: 20px 0 20px 0;
  }

  .worklink-button:hover{
    background-color: #fff;
    color: #30e7e7;
    border-color:#30e7e7;
    text-decoration: none;
  }

  /*/////////// service home//////////////////*/

  #service-home-section{
/*
    height: auto;
    width: 100%;
    background-color: #eff3f9;
    float: left;*/

  }

  .service-home-brand{
  margin-top:30px!important;
  font-family: 'ABeeZee', sans-serif;

  }
   .service-home-brand h1{
    text-transform: uppercase;
    font-weight: 500;
   }
    .service-home-brand p{
      font-size: 18px;
      color: #687685;
      font-weight: 300;

}
.services-home-box{
  padding: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
    background: #fff;
    text-align: center;
    border:1px solid transparent;
}
.services-home-box:hover{
  border-color:#30e7e7;
}
.services-home-box h3{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
/*.services-home-box h4{
      font-size: 38px;
    color: #30e7e7;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}
.services-home-box h4 sup{
      font-size: 20px;
    top: -20px;
}

 
.services-home-box h4 span{
  color: #30e7e7;
    font-size: 20px;
}*/
.services-home-box ul {
      list-style: none;
    color: #999;
    line-height: 20px;
    text-align: left;
    margin-top: 2rem;
}
.services-home-box ul i{
      color: #4c7eb4;
    font-size: 18px;
    padding-right: 15px;
}
.services-home-box ul li{
padding-bottom: 12px;
}
.services-home-box .services-home-boxbutton{
  margin-top: 1rem;
    background: #4c7eb4;
    display: inline-block;
    padding: 6px 30px;
    border-radius: 5px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;

}
.services-home-box .services-home-boxbutton:hover{

background: linear-gradient(45deg, #4c7eb4, #30e7e7);

}
@media (min-width: 992px){
  .hidden-medium{
    display: none;
  }
}

/*//////about////home//////section*/


.home-services-buttoncontainer{

  margin-top: 3rem;

}

.home-about-image{
  height: 470px;
  width: 100%;
  margin-top: 50px;


}
.home-about-image img{
  height: 100%;
  width: 100%;;
}


.home-about-content{
  
  margin: 40px 0 0 20px;


}
.home-about-content h2{
  text-transform: capitalize;
  font-weight: bolder;
  background-color: #feb81c;
    background-image: linear-gradient(45deg, #feb81c, #0fc8ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.home-about-content p{
  margin-top: 20px;
  font-size: 16px;
      color: #2b2d2c;
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;

}
.home-about-content ul{
 list-style-type: none;
  margin: 30px 0 0 0px;
  font-size: 17px;
  font-weight: 500;
  color: black;


}
.home-about-content ul li i{
background-color: #feb81c;
    background-image: linear-gradient(45deg, #feb81c, #0fc8ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;}

.home-about-content ul li{
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  margin: 10px 0 0 0;

}


.home-about-content ul li span{
  margin-left: 5px;
}
.home-about-content a{
  margin-top: 40px;
    background: #feb81c;
    display: inline-block;
    padding: 6px 30px;
    border-radius: 5px;
    color: #fff;
    transition: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;


}
.home-about-content a:hover{
      background-image: linear-gradient(45deg, #feb81c, #0fc8ff);


}
/*//////contact////////us////////*/

#contact-us-section .contat-row-heading{
  background-image: linear-gradient(45deg, #feb81c, #0fc8ff)

}
.contact-home-heading{
  margin: 2px 0 0 0;
}
.contact-home-heading h2{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.5;
  top: calc(50% - 1em);

}

.contactus-home-heading{
  margin-top:3rem;
}
.contactus-home-heading h2{
      color: #333333;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.contact-home-description{
  font-size: 20px;
    line-height: 1.2;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    color: #333333;
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
}
.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.125rem solid #ced4da;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group .contact-submit-home{
  padding: 1rem 1.75rem;
    font-size: 1.25rem;
    color: #fff;
    background-color: #feb81c;
    border-color: #feb81c;
}
.form-group .contact-submit-home:hover{
      background-image: linear-gradient(45deg, #feb81c, #0fc8ff);
      color: #fff;
      border-image: linear-gradient(45deg, #feb81c, #0fc8ff)

}


@media (max-width: 990px){
#contact-us-section{
    padding:0 3% 0 3%;

}
  #contact-home-form{
    justify-content: center;
    padding:0 3% 0 3%;
  }
}




















